.merriweather{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 60px;
  font-variation-settings: "wdth" 100;
  text-align: center;
  color: white; 
  margin-top: 20px;
}

.custom-card {
  background: rgba(0, 0, 0, 0.6); /* darker black glass */
  color: white;
  backdrop-filter: blur(10px); /* more frosted */
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); /* optional depth */
}

.custom-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.custom-card .card-title,
.custom-card .card-text {
  color: white;
}

.card-img-top {
  height: 250px; 
  object-fit: cover;
}

@media (max-width: 768px) {
  .merriweather {
    font-size: 50px;
  }
}

@media (max-width: 480px) {
  .merriweather {
    font-size: 24px;
  }
}
